/* 테이블 전체 경계선 제거 */
.table {
  border-collapse: collapse !important;
  border: none !important;
}

/* 셀 사이 경계선 제거 */
.table th,
.table td {
  border: none !important;
}

/* 테이블 전체 오른쪽 정렬 */
.table th,
.table td {
  text-align: right !important;
}

/* 테이블 헤더 텍스트 오른쪽 정렬 */
/* .table > thead > tr > th {
  text-align: right !important;
} */

/* 헤더 글자색 변경 */
.table > thead > tr:first-of-type > * {
  color: #798390 !important;
}


/* 홀수 행 색 */
.table > tbody > tr:nth-of-type(odd) > * {
  background-color: #F9FAFB !important;
  --bs-table-accent-bg: transparent !important; /* 내부 변수 영향 제거 */
}

/* hover가 항상 위에 오도록 강화 */
.table > tbody > tr:hover > * {
  background-color: #F2F4F6 !important;
  --bs-table-accent-bg: #F2F4F6 !important; /* 내부변수까지 덮기 */
  z-index: 1; /* 레이어 우선순위 */
}

/* 부드러운 전환 */
.table > tbody > tr > * {
  transition: background-color 0.15s ease-in-out;
}
/* '종가' 열의 모든 데이터에 '원' 단위 추가 */
.table td:nth-child(5)::after {
  content: "원";
}
