<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hama.picketf.dao.CpiDAO">

  <!-- CPI 값 조회 -->
  <select id="findCpiValueByYear" parameterType="int" resultType="double">
    SELECT
      cpi_value
    FROM cpi
    WHERE cpi_year = #{year}
  </select>

  <!-- 최저시급 조회 -->
  <select id="findMinWageByYear" parameterType="int" resultType="com.hama.picketf.dto.CpiMinWageRow">
    SELECT
      cpi_year AS cpiYear,
      cpi_min_wage AS cpiMinWage
    FROM cpi
    WHERE cpi_year = #{year}
  </select>

</mapper>
