<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EtfMapper">

  <!-- 실부담비용 단일 조회 -->
  <select id="selectEtfRealCostByCode" parameterType="string" resultType="double">
    SELECT etf_real_cost
    FROM etf
    WHERE etf_code = #{code}
  </select>

  <!-- 코드 목록의 메타 조회: etf_code, etf_leverage, etf_fx_hedged // 디테일 모달 -->
  <select id="selectEtfMetaByCodes"
        parameterType="list"
        resultType="com.hama.picketf.dto.EtfMetaDTO">
  SELECT
    etf_code        AS etfCode,
    etf_full_name   AS etfFullName,
    etf_name        AS etfName,
    etf_issuer      AS etfIssuer, 
    etf_leverage    AS etfLeverage,
    etf_fx_hedged   AS etfFxHedged,
    etf_real_cost   AS etfRealCost
  FROM etf
  WHERE etf_code IN
  <foreach collection="list" item="code" open="(" separator="," close=")">
    #{code}
  </foreach>
</select>


</mapper>
