<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hama.picketf.dao.IsaDAO">

  <insert id="insertIsa" parameterType="com.hama.picketf.dto.IsaDTO" useGeneratedKeys="true" keyProperty="isaNum">
    INSERT INTO isa (
      isa_us_num,
      isa_year,
      isa_type,
      isa_total_amount,
      isa_created
    ) VALUES (
      #{isaUsNum},
      #{isaYear},
      #{isaType},
      #{isaTotalAmount},
      NOW()
    )
  </insert>

  <select id="findByUsNum" parameterType="int" resultType="com.hama.picketf.dto.IsaDTO">
    SELECT
      isa_num          AS isaNum,
      isa_us_num       AS isaUsNum,
      isa_year         AS isaYear,
      isa_type         AS isaType,
      isa_total_amount AS isaTotalAmount,
      isa_created      AS isaCreated
    FROM isa
    WHERE isa_us_num = #{usNum}
  </select>

  <!-- isa_total_amount 증가 -->
  <update id="increaseTotalAmount">
    UPDATE isa
    SET isa_total_amount = isa_total_amount + #{amount}
    WHERE isa_us_num = #{usNum}
  </update>

</mapper>
