<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hama.picketf.dao.IsaDAO">

  <insert id="insertIsa" parameterType="com.hama.picketf.dto.IsaDTO" useGeneratedKeys="true" keyProperty="isaNum">
    INSERT INTO isa (
      isa_us_num,
      isa_year,
      isa_type,
      isa_total_amount,
      isa_created
    ) VALUES (
      #{isaUsNum},
      #{isaYear},
      #{isaType},
      #{isaTotalAmount},
      NOW()
    )
  </insert>

  <select id="findByUsNum" parameterType="int" resultType="com.hama.picketf.dto.IsaDTO">
    SELECT
      isa_num          AS isaNum,
      isa_us_num       AS isaUsNum,
      isa_year         AS isaYear,
      isa_type         AS isaType,
      isa_total_amount AS isaTotalAmount,
      isa_created      AS isaCreated
    FROM isa
    WHERE isa_us_num = #{usNum}
  </select>

  <!-- isa_total_amount 증가 -->
  <update id="increaseTotalAmount">
    UPDATE isa
    SET isa_total_amount = isa_total_amount + #{amount}
    WHERE isa_us_num = #{usNum}
  </update>

  <!-- 해당 유저의 ISA 계좌 삭제 -->
  <delete id="deleteByUsNum" parameterType="int">
    DELETE FROM isa
    WHERE isa_us_num = #{usNum}
  </delete>
  
  <!-- 예수금 추가 로그 기록 -->
  <insert id="insertDepositLog"
          parameterType="com.hama.picketf.dto.IsaDepositLogDTO"
          useGeneratedKeys="true"
          keyProperty="isaDepositLogNum">
    INSERT INTO isa_deposit_log (
      isa_deposit_log_isa_num,
      isa_deposit_log_amount,
      isa_deposit_log_memo,
      isa_deposit_log_created
    ) VALUES (
      #{isaDepositLogIsaNum},
      #{isaDepositLogAmount},
      #{isaDepositLogMemo},
      NOW()
    )
  </insert>


</mapper>
