<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout/layout.html}">

<head>
  <title>화폐가치 계산</title>
</head>

<body>
  <main layout:fragment="content">
    <div class="container py-3">
      <h5 class="mb-3 text-center fw-bold">화폐가치 계산기</h5>
      <p>화폐가치 계산기 콘텐츠가 여기에 들어갑니다.</p>
      <div class="cpi-wrap">

        <!-- 왼쪽 폼 -->
        <div class="cpi-row">
          <div class="cpi-label">기준시점</div>
          <div class="cpi-controls">
            <select class="cpi-select">
              <option selected>2025</option>
              <option>2024</option>
            </select>
          </div>
        </div>

        <div class="cpi-row">
          <div class="cpi-label">비교시점</div>
          <div class="cpi-controls">
            <select class="cpi-select">
              <option>2012</option>
              <option selected>2024</option>
              <option>2008</option>
            </select>
            <button class="cpi-run" type="button">실행</button>
          </div>
        </div>

        <div class="cpi-row" style="margin-bottom:0;">
          <div class="cpi-label">물가상승률</div>
          <div class="cpi-value">
            <div class="cpi-value-box">74.1%</div>
          </div>
        </div>

        <div class="cpi-row" style="margin-bottom:0;">
          <div class="cpi-label">평균 물가상승률</div>
          <div class="cpi-value">
            <div class="cpi-value-box">4.1%</div>
          </div>
        </div>
      </div>
      <th:block layout:fragment="script">
        </script>
      </th:block>

  </main>
</body>

</html>