<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout/layout.html}">

<head>
  <title>메인 페이지</title>
</head>
<main layout:fragment="content">
  <div class="container py-3">
    <h5 class="mb-3 text-center fw-bold">Dev Log</h5>
    <div class="mb-2">
      <table class="table updates">
        <thead>
          <tr>
            <th>날짜</th>
            <th>업데이트 내역</th>
            <th>변경사항 및 고민</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2026-04-24</td>
            <td>ETF 테이블 수정</td>
            <td>상세 페이지 정보, 기초지수정보, 신규 지수 +
            </td>
          </tr>
          <tr>
            <td>2026-03-31</td>
            <td>자료출처 +</td>
            <td>각 페이지에서 사용된 데이터 출처를 명시
            </td>
          </tr>
          <tr>
            <td>2026-03-27</td>
            <td>마이 페이지 - 닉네임 / 비밀번호 변경 / 회원탈퇴 +</td>
            <td>유효성 검사와 중복 체크, 금지어 체크
            </td>
          </tr>
          <tr>
            <td>2026-03-17</td>
            <td>헤더에 마이 페이지 +</td>
            <td>드랍다운 형식으로 표시
            </td>
          </tr>
          <tr>
            <td>2026-03-10</td>
            <td>로그인, 회원가입 페이지 +</td>
            <td>레이아웃 구현, 유효성 검사와 중복 체크, 금지어 체크
            </td>
          </tr>
          <tr>
            <td>2026-03-04</td>
            <td>ISA 절세 계산기 +
            </td>
            <td>ISA와 직투시 절세액 차이를 계산
            </td>
          </tr>
          <tr>
            <td>2026-02-16</td>
            <td>ISA 계좌 - 예수금 납입 내역 +
              <br>2단 프로그래스 바 +
            </td>
            <td>최근 납입 내역과 메모를 확인 가능
              <br>사용자가 한 눈에 알 수 있게 시각화
            </td>
          </tr>
          <tr>
            <td>2026-02-10</td>
            <td>ISA 계좌 상태 +</td>
            <td>계좌 개설연도를 확인하고 해당하는 납입 금액을 표기
            </td>
          </tr>
          <tr>
            <td>2026-01-30</td>
            <td>화폐가치 계산기 +</td>
            <td>물가 상승률과 최저시급 변화를 조회 가능
            </td>
          </tr>
          <tr>
            <td>2026-01-16</td>
            <td>메뉴 호버시 시각적 효과 +</td>
            <td>가시성 향상을 위해 사이드바 & 헤더에 적용
            </td>
          </tr>
          <tr>
            <td>2026-01-15</td>
            <td>사이트 레이아웃 변경</td>
            <td>헤더는 로고 / 주메뉴 / 회원정보로 3등분
              <br>사이드바는 카테고리별로 메뉴 구분 & 하단 영역 분리
            </td>
          </tr>
          <tr>
            <td>2026-01-07</td>
            <td>구독 서비스 (차트 +)</td>
            <td>월간 고정 소비를 차트로 시각화
            </td>
          </tr>
          <tr>
            <td>2025-12-04</td>
            <td>구독 서비스 +</td>
            <td>구독중인 서비스를 확인하고 해지 기능
            </td>
          </tr>
          <tr>
            <td>2025-11-26</td>
            <td>ETF - <i class="bi bi-exclamation-circle text-secondary"></i> 종목 상세보기 +</td>
            <td>종목 전체 이름, 운용사, 종목코드, 상장일, 바로가기를 확인 가능
            </td>
          </tr>
          <tr>
            <td>2025-11-05</td>
            <td>ETF - 상단 탭 필터 기능 +
              <br>(환헷지/레버리지 분류)
            </td>
            <td>분류하기 위해 기본적으로 API로 호출하되 일부는 DB로 관리
              <br>실부담비용은 낮은 순으로, 시가총액은 높은 순으로 3개
            </td>
          </tr>
          <tr>
            <td>2025-10-30</td>
            <td><i class="bi bi-bookmark"></i> ETF - 북마크 +</td>
            <td>
              비회원 접근성을 위해 쿠키로 저장
            </td>
          </tr>
          <tr>
            <td>2025-10-29</td>
            <td>ETF - 테이블 추가 (헤더 메뉴)</td>
            <td>종목 정보들을 표기할 테이블 구성</td>
          </tr>
          <tr>
            <td>~ 2025-10-28</td>
            <td>프로젝트 세팅, 회원가입 +</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
</main>

</html>