<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout/layout.html}">
  <head>
    <title>메인 페이지</title>
  </head>
  <main layout:fragment="content">
    <div class="container">
      <div class="row text-center">
        <div class="col-1 border">1</div>
        <div class="col-1 border">2</div>
        <div class="col-1 border">3</div>
        <div class="col-1 border">4</div>
        <div class="col-1 border">5</div>
        <div class="col-1 bg-warning border">6</div>
        <div class="col-1 bg-warning border">7</div>
        <div class="col-1 border">8</div>
        <div class="col-1 border">9</div>
        <div class="col-1 border">10</div>
        <div class="col-1 border">11</div>
        <div class="col-1 border">12</div>
      </div>
    </div>
    <div class="bg-white border-bottom py-2 d-flex justify-content-center gap-4 small fw-semibold">
      <div>
        <i class="fas fa-flag text-danger"></i>
        <span class="text-dark">
          <img src="/img/kr.png" width="30" class="me-1" />국장</span
        >
        <span th:if="${isKoreaMarketOpen}" class="fw-bold" style="color: tomato"
          >· 장 열림</span
        >
        <span th:unless="${isKoreaMarketOpen}" class="text-muted"
          >· 장 닫힘</span
        >
      </div>
      <div>
        <i class="fas fa-flag-usa text-primary"></i>
        <span class="text-dark">
          <img src="/img/us.png" width="20" class="me-1" /> 미장</span
        >
        <span th:if="${isUSMarketOpen}" class="fw-bold" style="color: tomato"
          >· 장 열림</span
        >
        <span th:unless="${isUSMarketOpen}" class="text-muted">· 장 닫힘</span>
      </div>
    </div>
  </main>
</html>
