<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout/layout.html}">

<head>
  <title>ISA 계좌 관리</title>
</head>
<main layout:fragment="content">
  <div class="container py-3">
    <h1>ISA 계좌 관리 페이지</h1>

    <a href="/isa/add" class="btn btn-sm btn-dark mb-3">
      + 계좌 만들기
    </a>

    <a href="/isa/cash" class="btn btn-sm btn-dark mb-3">
      + 예수금 추가
    </a>

    <div th:if="${isa == null}" class="alert alert-secondary">
      아직 ISA 계좌가 없습니다. “+ 계좌 만들기”로 생성하세요.
    </div>

    <div th:if="${isa != null}" class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">내 계좌 요약</h5>

        <table class="table table-sm">
          <tbody>
            <tr>
              <th style="width: 220px;">계좌 개설연도</th>
              <td th:text="${isa.isaYear}">2026</td>
            </tr>
            <tr>
              <th>계좌 타입</th>
              <td th:text="${isa.isaType}">NORMAL</td>
            </tr>
            <tr>
              <th>현재 납입 가능한 금액</th>
              <td>
                <span th:if="${currentRemain > 0}" th:text="${#numbers.formatInteger(currentRemain, 0, 'COMMA')} + '원'">
                </span>

                <span th:if="${currentRemain == 0}" class="text-muted">
                  현재 납입 가능 금액이 없습니다
                </span>

              </td>
            </tr>
            <tr>
              <th>총 납입 가능한 금액</th>
              <td th:text="${#numbers.formatInteger(lifetimeRemain, 0, 'COMMA')} + '원'">0원</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--     
    <a href="/isa/add" class="btn btn-sm btn-dark mb-3">
      + ETF 추가
    </a>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>종목 etf_name</th>
          <th>보유수량 pos_quantity</th>
          <th>평균단가 pos_avg_price</th>
          <th>보유원가 pos_cost_basis</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>QQQ</td>
          <td>10</td>
          <td>410.00</td>
          <td>4,100.00</td>
        </tr>
        <tr>
          <td>SPY</td>
          <td>5</td>
          <td>450.00</td>
          <td>2,250.00</td>
        </tr>
      </tbody>
    </table> -->

  </div>
</main>

</html>