<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout/layout.html}">

<head>
  <title>내 포트폴리오</title>
</head>
<main layout:fragment="content">
  <div class="container py-3">
    <h1>포트폴리오 페이지</h1>
    <a href="/portfolio/add" class="btn btn-sm btn-dark mb-3">
      + ETF 추가
    </a>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>종목 etf_name</th>
          <th>보유수량 pos_quantity</th>
          <th>평균단가 pos_avg_price</th>
          <th>보유원가 pos_cost_basis</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>QQQ</td>
          <td>10</td>
          <td>410.00</td>
          <td>4,100.00</td>
        </tr>
        <tr>
          <td>SPY</td>
          <td>5</td>
          <td>450.00</td>
          <td>2,250.00</td>
        </tr>
      </tbody>
    </table>

  </div>
</main>

</html>